<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>Log in</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>

  <div class="container">
    <h1>Log in</h1>
    <% if (success_msg) { %>
      <p class="success"><%= success_msg %></p>
    <% } %>
    <% if (error_msg) { %>
      <p class="error"><%= error_msg %></p>
    <% } %>
    <% if (error) { %>
      <p class="error"><%= error %></p>
    <% } %>
    <form action="/users/login" method="POST">
      <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
      </div>
      <div>
        <label for="password">Passward:</label>
        <input type="password" name="password" id="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
    <p>Forget Password？<a href="/users/forgot">Click here</a></p>
    <p>No account?<a href="/users/register">registrat</a></p>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
